@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Varela+Round&display=swap');

body {
  background-color: navy;
  color: #c9c9c9;
  text-align: right;
  margin: 0 25%;
}
fieldset {
  border-color: #ff6680;
  border-radius: 10%;
}
h1, legend{
  font-family: 'Handlee', cursive;
}
h1 {
  font-size: 40px;
}
legend {
  font-size: 36px;
}
label, option, input {
  font-family: 'Varela Round', sans-serif;
}
.btn {
  background-color: #ff6680;
  font-size: 20px;
  border-radius: 40%;
  padding: 10px;
}
form {
  font-size: 24px;
  text-align: right;
}
#toggleBaby, #toggleFeed, #toggleDiaper {
  display: none;
}