@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Varela+Round&display=swap');

body {
  background-color: navy;
  color: white;
  text-align: center;
  margin: 0%, 25%;
}
fieldset {
  border-color: coral;
}
h1, legend{
  font-family: 'Handlee', cursive;
}
label, option, input {
  font-family: 'Varela Round', sans-serif;
}
button {
  background-color: coral;
}